<div class="container">
    <div class="page-header">
        <h2><b>ALUNO</b></h2>
    </div>

    <br>

    <div class="row">
        <div class="col-md-2">
            <a href="#!CadastroDeAluno">
                <button class="btn btn-info">
                    ADICIONAR ALUNO
                </button>
            </a>
        </div>
        <div class="col-md-7">
            <select class="form-control" ng-model="selected" ng-change="buscarAlunoPorCurso(selected)">
                <option value="">Selecionar Curso</option>
                <option ng-repeat="listando in curso" ng value="{{listando.id}}">{{listando.nome}}</option>
            </select>
        </div>

        <div>
            <nav class="col-md-1">
                <ul align="left">
                    <button ng-disabled="selected" class="btn btn-default" ng-click="voltarPag(pagina)">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </button>
                </ul>
            </nav>
        </div>

        <div>
            <nav class="col-md-1">
                <ul align="left">
                    <button ng-disabled="selected" class="btn btn-default" ng-click="proxPag(pagina)">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </button>
                </ul>
            </nav>
        </div>
    </div>

    <br>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>CPF</th>
                <th>E-MAIL</th>
            </tr>
            </thead>

            <tbody ng-repeat="varAluno in aluno">
            <tr>
                <td>{{varAluno.id}}</td>
                <td>{{varAluno.nome}}</td>
                <td>{{varAluno.cpf}}</td>
                <td>{{varAluno.email}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>