<div class="container">
    <div class="page-header">
        <h2><b>CADASTRO DE ALUNO</b></h2>
    </div>

    <label>CURSO</label>
    <select class="form-control" ng-model="cadAluno.CursoId">
        <option value="">Selecionar Curso</option>
        <option ng-repeat="listando in curso" ng value="{{listando.id}}">{{listando.nome}}</option>
    </select>

    <br>

    <form>
        <div class="form-group">
            <label>NOME</label>
            <input class="form-control" ng-model="cadAluno.nome" type="text">
        </div>
        <div class="form-group">
            <label>CPF</label>
            <input class="form-control input-lg" ng-model="cadAluno.cpf" type="text">
        </div>
        <div class="form-group">
            <label>E-MAIL</label>
            <input class="form-control input-sm" ng-model="cadAluno.email" type="text">
        </div>
    </form>

    <br>

    <a href="#!Aluno">
        <button class="btn btn-md btn-info" ng-click="salvarAluno(cadAluno)">
            <span class="glyphicon glyphicon-floppy-saved"></span>
            Salvar
        </button>
    </a>
</div>