<div class="container">
    <div class="page-header">
        <h2><b>CADASTRO DE DISCIPLINA</b></h2>
    </div>

    <label>CURSO</label>
    <select class="form-control" ng-model="cadDisciplina.CursoId">
        <option value="">Selecionar Curso</option>
        <option ng-repeat="listando in curso" ng value="{{listando.id}}">{{listando.nome}}</option>
    </select>

    <br>

    <form>
        <div class="form-group">
            <label>NOME</label>
            <input class="form-control" ng-model="cadDisciplina.nome" type="text">
        </div>
        <div class="form-group">
            <label>DESCRICAO</label>
            <input class="form-control" ng-model="cadDisciplina.descricao" type="text">
        </div>
    </form>

    <a href="#!Disciplina">
        <button class="btn btn-md btn-info" ng-click="salvarDisciplina(cadDisciplina)">
            <span class="glyphicon glyphicon-floppy-saved"></span>
            Salvar
        </button>
    </a>
</div>