<div class="container">
    <div class="page-header">
        <h2><b>CURSO</b></h2>
    </div>
    <br>

    <div class="row">
        <div class="col-md-9">
            <a href="#!CadastroDeCurso">
                <button class="btn btn-info">
                    ADICIONAR CURSO
                </button>
            </a>
        </div>
        <div>
            <nav class="col-md-1">
                <ul align="left">
                    <button ng-disabled="selected" class="btn btn-default" ng-click="voltarPag(pagina)">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </button>
                </ul>
            </nav>
        </div>

        <div>
            <nav class="col-md-1">
                <ul align="left">
                    <button ng-disabled="selected" class="btn btn-default" ng-click="proxPag(pagina)">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </button>
                </ul>
            </nav>
        </div>

        <br>

        <div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NOME</th>
                </tr>
                </thead>

                <tbody ng-repeat="varCurso in curso">
                <tr>
                    <td>{{varCurso.id}}</td>
                    <td>{{varCurso.nome}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>